

.amenities-grid .card{
    box-shadow: 0 5px 15px #00000014;
    transition: transform .3s;
}
.amenities-grid .card:hover{
    transform: translateY(-5px);
}
.card .amenities-img  img{
    transition: transform .3s;
}
.card:hover .amenities-img  img{
    transform: scale(1.1);
}
.amenities-img{
    height: 200px;
}
.amenities-beadge{
    width: 50px;
    height: 50px;
    top: 15px;
    right: 15px;
    border: 2px solid color-mix(in srgb, #fff, transparent 80%);
}
.amenities-features .feature-item{
    background-color: color-mix(in srgb, var(--main-color), transparent 90%);
    font-size: 14px;
}

.amenitie-icon {
     transition: transform .3s;
}
.amenitie-icon:hover{
     transform: translateY(-5px);
}