.get-in-touch-section{
    margin-bottom: 320px;
}
.contact-way{
transition: transform .3s;
height: 150px;
}
.contact-way:hover{
    transform: translateY(-5px);
}
.contact-icon .icon{
    width: 50px;
    height: 50px;
    background-color: color-mix(in srgb, var(--main-color), transparent 90%);
  
}
.contact-form{
    top: 215px;
    padding-left: 150px;
    padding-right: 150px;
}
/* .form-control{
    border: 1px solid var(--main-color);
} */
.form-control:focus{
    box-shadow: 0 0 0 4px color-mix(in srgb, var(--main-color), transparent 80%);
    border-color: var(--main-color);
}
.form-input input::placeholder{
   /* padding-left: 15px; */
}
.message-area{
    height: 180px;
    resize: none;
}
.contact-form input[type="submit"]{
   transition: transform .5s , box-shadow .5s;
}
.contact-form input[type="submit"]:hover{
   transform: translateY(-3px);
   box-shadow: 0 8px 20px color-mix(in srgb, var(--main-color), transparent 60%);
}