.get-in-touch-section{
    margin-bottom: 320px;
}
.contact-way{
transition: transform .3s;
height: 150px;
}
.contact-way:hover{
    transform: translateY(-5px);
}
.contact-icon .icon{
    width: 50px;
    height: 50px;
    background-color: color-mix(in srgb, var(--main-color), transparent 90%);
  
}
.contact-form{
    top: 215px;
    padding-left: 150px;
    padding-right: 150px;
}
@media screen and (max-width:900px) {
    .contact-form{
        padding-left: 100px;
        padding-right: 100px;
    }
    
}
@media screen and (max-width:560px) {
    .contact-form{
        padding-left: 50px;
        padding-right: 50px;
        /* background-color: red; */
    }
    
}
@media screen and (max-width:470px) {
    .contact-form{
        padding-left: 20px;
        padding-right: 20px;
        /* background-color: rgb(195, 169, 169); */
    }
    
}
@media screen and (max-width:400px) {
    .contact-form{
        padding-left: 7px;
        padding-right: 7px;
        /* background-color: rgb(181, 150, 229); */
    }
    
}

.form-control:focus{
    box-shadow: 0 0 0 4px color-mix(in srgb, var(--main-color), transparent 80%);
    border-color: var(--main-color);
}

.message-area{
    height: 180px;
    resize: none;
}
.contact-form input[type="submit"]{
   transition: transform .5s , box-shadow .5s;
}
.contact-form input[type="submit"]:hover{
   transform: translateY(-3px);
   box-shadow: 0 8px 20px color-mix(in srgb, var(--main-color), transparent 60%);
}