@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.navbar{
    background-color: rgba(24, 14, 1, 0.8);
    z-index: 9;
}
.navbar-brand{
    font-family: var(--main-font);
    font-size: 30px;
}
.navbar .nav-link{
    color: white;
    font-family: var(--main-font);
}
.navbar .nav-link.active{
    color: var(--main-color);
}
.nav-link:hover{
    color: #e9d2aeb3
}
.navbar .btn{
    background-color: var(--main-color);
    
}

/* start header */

.header{
    background-image: url(../images/about-page/header.webp);
    height: 60vh;
    background-size: cover;
    background-position: 0px ;
    position: relative;

}
.header::before{
    background-color: #0f0d0780;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    display: block;

}
.breadcrumb-item a{
    color: var(--main-color);
}
.breadcrumb-item+.breadcrumb-item::before{
    color: #ffffff80;
}

/* end header */

/* start filter section */

.filter-section{
    box-shadow: 0 2px 10px color-mix(in srgb, var(--default-color), transparent 90%);
}
.form-select ,.form-check-input{
    background-color: #f5f4f1;
}
.form-check-input:checked[type=checkbox]{
    background-color: var(--main-color);
    outline: none;
    border: none;
}
.form-check-label{
    font-size: 14px;
}
/* end filter section */



/* start rooms section */
.rooms-header ::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #2125291a;
    left: 0;
    bottom: 25px;
}
.rooms-header .form-select{
    border-color: var(--main-color);
}
 .form-select:focus , .form-control:focus{
    box-shadow: 0 0 0 4px color-mix(in srgb, var(--main-color), transparent 80%);
    border-color: var(--main-color);
}
.rooms-grid .card{
    box-shadow: 0 5px 15px #00000014;
    transition: transform .3s;
}
.rooms-grid .card:hover{
    transform: translateY(-3px);
}
.room-img{
    height: 250px;
}
.room-img img{
    transition: transform .8s;
}
.room-img img:hover{
    transform: scale(1.2);
}
.room-badge{
    top: 15px;
    left: 15px;
}
.price-info{
    top: 15px;
    right: 15px;
}
.feature-item{
    background-color: #f5f4f1;
    border:1px solid color-mix(in srgb, var(--default-color), transparent 85%);
}
.feature-item span{
    font-size: 11px;
}
.view a{
    transition: background-color .3s ;
}
.view a:hover{
        background-color: color-mix(in srgb, var(--main-color), black 15%);
}
.availability a{
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: background-color .3s , color .3s;
}
.availability a:hover{
    background-color: var(--main-color);
    color: #fff;
}
/* end rooms section */










.footer{
    background-color: #1b1913;
    color: #fff;
    font-family: var(--main-font);
}
.footer-links h4{
    font-size: 16px;
}
.footer-links h4::after{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
}
.footer-links li {
    list-style-type: none;
    font-size: 14px;
    font-family: var(--dafault-font);
}
.footer-links li a{
    color: #ffffffb3;
    transition: color .3s;
}
.footer-links li a:hover{
    color: var(--main-color);
}